/*clases generales*/ 
body{ 
    background-color: black;
    color: white;
}
article{
    background-color:rgb(red, green, blue) 44,43,43;
    padding: 1.5rem;
    border-bottom: 1px solid #ffffff;

} 

.title{ 
    text-align: center; font-size: 3rem;
} 


header{
    text-align: center; front-size: 3rem
}
/*terminan clases generales */ 

/*barra de navegacion*/ 

li{
    color: white;
}

.resaltado { 
    color: yellow; 
} 

nav>ul>li {
    list-style: none;   
} 

nav>ul>li {
    text-decoration: none; 
} 

/*fin barra de navegacion*/ 

/*footer del blog*/ 

#footer_blog{ 
    margin: 2rem;
}    

/*fin footer del blog*/ 

/*ilustraciones*/ 

.ilustracion  { 
    /*border: solid, 4px,white;*/
    border: 4px white solid;
    display: inline-block;
    
       
    
}   

.ilustracion figcaption {
    margin-top: 1rem;
    margin-left: 1rem;
    font-style: italic;
}

/*fin ilustraciones*/


/* grid */
section {
    
    /* despliégate como  grid */
    display: grid;
    /* Crea 12 columnas cada una de una fracción usando la función repeat*/
    grid-template-columns: repeat(12, 1fr);
    /* deja que las filas(renglones) ocupen el alto que necesitan */
    grid-auto-rows: auto;
    /* añade un espacio entre los elementos del grid de 3rem */
    gap: 3rem;
}

/* Termina grid */

/* apunta solo a los header que son hijos directos de section */
section>header {
    /* esta seccion se extendera 12 columnas */

    grid-column: span 12;
}

section>main {

    grid-column: span 8;
}

section>aside {
    grid-column: span 4;
}

section>footer {
    grid-column: span 12;
}


