/*clases generales*/ 
body{ 
    background-color: black;
    color: white;
}
article{
    background-color:rgb(red, green, blue) 44,43,43;
    padding: 1.5rem;
    border-bottom: 1px solid #ffffff;

} 

.title{ 
    text-align: center; font-size: 3rem;
} 

/*terminan clases generales */ 

/*barra de navegacion*/ 

li{
    color: white;
}

.resaltado { 
    color: yellow; 
} 

nav>ul>li {
    list-style: none;   
} 

nav>ul>li {
    text-decoration: none; 
} 

/*fin barra de navegacion*/ 

/*footer del blog*/ 

#footer_blog{ 
    margin: 2rem;
}    

/*fin footer del blog*/ 

/*ilustraciones*/ 

.ilustracion  { 
    /*border: solid, 4px,white;*/
    border: 4px white solid;
    display: inline;
    
       
    
}   

.ilustracion figcaption {
    margin-top: 1rem;
    margin-left: 1rem;
    font-style: italic;
}

/*fin ilustraciones*/


/* apunta solo a los header que son hijos directos de section */
section>header {
    /* esta seccion se extendera 12 columnas */

    grid-column: header 12;
}

section>main {

    grid-column: main 8;
}

section>aside {
    grid-column: aside 4;
}

section>footer {
    grid-column: footer 12;
}


